<!DOCTYPE html>
<html lang="en">
<head><%- include ('partials/head', {titlePage:"Welcome"}) %></head>

<body class="container">
  <header><%- include ('partials/header') %></header>
  <nav><%- include ('partials/nav') %></nav>

  <main>
  <p>
    <%= textIntro %> for Nationalpark
  </p>
  <p><a href="category/category-display-all">orf adfasdf adf </a></p>

  <ul>
    <li><a href="category/category-display-all"> display all categories</a></li>
    <li><a href="category/category-display-all"> display all courses</a></li>
  </ul>
  <p>Anleitung</p>
  <ol>
    <li>Konfigurationsdatei angeben</li>
    <li>Umweltparameter vergleichen</li>
  </ol>

  

  
  </main>
  <footer><%- include('partials/footer') %></footer>

</body>

</html>